- var words = ['дизайн', 'мозг', 'информация', 'язык', 'текст',
-              'код', 'документ', 'метод', 'пустота', 'навсегда',
-              'ответственность', 'игра', 'любовь', 'свобода',
-              'интерес', 'забота', 'синхронизация', 'дизайнер',
-              'ниндзя', 'я']

footer
  each word in words
    span.word= word
