@import 'base/variables';

@function font-path($path) {
  @return '#{$fonts-path}/#{$path}';
}

@function image-path($path) {
  @return '#{$images-path}/#{$path}';
}

@function font-url($path) {
  @return url(font-path($path));
}

@function image-url($path) {
  @return url(image-path($path));
}

@mixin font-face($family, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: font-url('#{$family}.woff2') format('woff2'),
         font-url('#{$family}.woff') format('woff'),
         font-url('#{$family}.ttf') format('ttf');
    font-weight: $weight;
    font-style:  $style;
  }
}
